---
title: Autoseg Website
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Autoseg website</h1>
        <h2>New website to Autoseg company. Front-end and User Interface.<br/><a href="http://www.autoseg.com/" target="_blank">View autoseg.com ></a></h2>
        <figure>
          <img src="/images/autoseg-website.png" alt="autoseg website" title="autoseg website" />
        </figure>
        <figure>
          <img src="/images/autoseg-screenshot.png" alt="autoseg screenshot" title="autoseg screenshot" />
        </figure>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2012</span>
      </div>
    </article>
  </section>
</section>
