---
title: Autoseg
---

<section class="project">
  <section class="project-content">
      <div id="autoseg">
      <article>
        <div class="project-description project-images">
          <h1 class="section-title">AUTOSEG</h1>
          <span class="divider"></span>
          <h2 class="section-description">Autoseg Branding Redesign and New Website.</h2>

          <p>Autoseg is a company that creates digital products that help big enterprises reduce their IT costs, enhance regulatory compliance and increase productivity on their users' identity and access management issues. Autoseg new brand aims to convey credibility and security to their customers, the company's culture reflects seriousness and efficiency at the same time has a simple and modern structure. <a href="http://www.autoseg.com/" target="_blank">More about Autoseg ></a></p>

          <h3>CONCEPT</h3>
          <p>Your logo abstractly symbolizes the combination of access and safes with reference to security and control. Its elements represent the various types of systems to form an integrated, representative of Autoseg's products with unique and customized system.<br/></p>
          <figure>
            <img src="/images/autoseg-branding-logo.png" alt="autoseg logo" title="autoseg logo" />
          </figure>
          <figure>
            <img src="/images/autoseg-branding-web.png" alt="autoseg branding web" title="autoseg branding web" />
          </figure>
          <figure>
            <img src="/images/autoseg-branding-logos.png" alt="autoseg products logo" title="autoseg products logo" />
          </figure>
          <!-- <figure>
            <img src="/images/autoseg-branding-web-products.png" alt="autoseg branding web" title="autoseg branding web" />
          </figure> -->
          <span class="project-credits">Developed at <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2012</span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/space-box.html">
                <img src="/images/thumb-space-box-bw.png" alt="space box project" title="space box project"/>
              </a>
              <a href="/projects/space-box.html">
                <h1>SPACE BOX</h1>
              </a>
                <p>Providing a better experience for occasionals inside the National Museum of Science and Technology.</p>
              </a>
            <li>
              <a href="/projects/devise.html">
                <img src="/images/thumb-devise-bw.png" alt="devise" title="devise"/>
              </a>
              <a href="/projects/devise.html">
                <h1>DEVISE</h1>
              </a>
                <p>Logotype for a flexible authentication solution for Rails.</p>
              </a>
            </li>
            <li>
              <a href="/projects/plataformatec.html">
                <img src="/images/thumb-ptec-bw.png" alt="plataformatec" title="plataformatec"/>
              </a>
              <a href="/projects/plataformatec.html">
                <h1>PLATAFORMATEC</h1>
              </a>
                <p>Redesign Plataformatec Branding.</p>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
