---
title: Miranda Barbershop
---

<section class="project">
  <section class="project-content">
        <div id="miranda-barbershop">
        <article>
          <div class="project-description project-images">
            <h1 class="section-title">MIRANDA BARBERSHOP</h1>
            <span class="divider"></span>
            <h2 class="section-description">Revitalization project to revival the local market at Aveiro.</h2>

            <!-- 
             Barbershop
            Strategic design project with the goal to revitalize the traditional Miranda Barbershop. The barbershop elements is really special by your antique and typically portuguese construction. The project aims to make the business more attractive without losing your essence and to upgrade the values of its habits, a solid re-branding and a slightly improvement in the client's reception. -->

            <h3>CONTEXT</h3>
            <p>Barbearia Miranda is a traditional barbershop located in the city center of Aveiro, Portugal. The project aimed to revitalize the local market to attract new clients, improve the trade revenue and make the region more alive. New shopping malls offer a diversity of services attracting people daily, on the other hand the local market of the city becomes increasingly weak and unable to compete at the same level. Losing the city's heritage and cultural tradition. How can we bring a new perception of value for new generations? How can we attract new clients and tourists? How to be a renewed trade without overlaping the tradition?</p>
            <figure>
              <img src="/images/pormenores.png" alt="Miranda Barbershop photos" title="Miranda Barbershop photos" />
            </figure>

            <h3>CONCEPT</h3>
            <p>Revitalize the store by itself seeking the most sublime elements to base the project. Singular elements that represent the store and preserve the uniqueness identity. The redesign of branding and interior design helped to give back a friendly and cozy environment able to receive fidelity clients in a better way and attract new customers.</p>



            <figure>
              <img src="/images/miranda_prancha.png" alt="Miranda Barbershop board" title="Miranda Barbershop board" />
            </figure>
            <!-- <figure>
              <img src="/images/logo-barbearia.png" alt="Miranda Barbershop logo" title="Miranda Barbershop logo" />
            </figure>
            <figure>
              <img src="/images/infografia-barbearia.png" alt="Miranda Barbershop storefront" title="Miranda Barbershop storefront" />
            </figure> -->
            <span class="project-credits">Academic project conducted at the <a href="http://www.ua.pt/">University of Aveiro</a> | 2009 <br/>Partners: Ana Pereira e Judite Tavares</span>
          </div>
          <div class="projects-related">
            <h3>OTHER PROJECTS</h3>
            <ul>
              <li>
                <a href="/projects/autoseg.html">
                  <img src="/images/thumb-autoseg-bw.png" alt="autoseg" title="autoseg"/>
                </a>
                <a href="/projects/autoseg.html">
                  <h1>AUTOSEG</h1>
                </a>
                  <p>New brand and website for Autoseg company. Front-end and User Interface.</p>
              </li>
              <li>
                <a href="/projects/monte-azul.html">
                  <img src="/images/thumb-monte-azul-bw.png" alt="monte azul" title="monte azul"/>
                </a>
                <a href="/projects/monte-azul.html">
                  <h1>MONTE AZUL</h1>
                </a>
                  <p>Contributing for sustainability of NGO Monte Azul through strategic design.</p>
                </a>
              </li>
              <li>
                <a href="/projects/emporio-gourmet.html">
                  <img src="/images/thumb-emporium-gourmet-bw.png" alt="emporio gourmet" title="emporio gourmet"/>
                </a>
                <a href="/projects/emporio-gourmet.html">
                  <h1>EMPORIO GOURMET</h1>
                </a>
                  <p>Graphic design project for gastronomy magazine.</p>
                </a>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </article>
      </div>
  </section>
</section>
