---
title: Sourun
---

<section class="project">
  <section class="project-content">
      <div id="sourun">
      <article>
        <div class="project-description">
          <h1 class="section-title">SOURUN</h1>
          <span class="divider"></span>
          <h2 class="section-description">Designing the first online running advisory service with real coaches in Brazil.</h2>

          <p>This story share our experience applying a <a href="https://www.gv.com/sprint/">GV Design Sprint</a> to envision and develop a new service for amateur runners in Brazil. In collaboration with <a href="http://jurema.la/">Jurema</a> and <a href="https://runfun.com.br/">Run&Fun</a>, we worked together blending code and craft to ensure the best customer experience and build a new service. We believe the potential is not only in technology but lies in people.</p></br>

          <div class="project-images">
            <figure>
              <img src="/images/sourun-intro.png" alt="sourun workshop picture" title="sourun workshop picture" />
            </figure>
          </div></br>

          <h3>Context</h3>
          <p>In a scenario that smartphones and wearable devices are part of everyday life, we encountered a ruge range of people starting to run. An enormous growth of participants in street running races and almost half of them training by themselves. Our challenge was to understand how those people were changing their behaviours with technology and adapting running habits into their lives, creating a new solution that could attend their needs.</br></br>

          Our challenge was to understand which factors were contributing for people’s behaviour change. How technology can help people motivate themselves? Which needs would we address? The goal of design sprint was to respond this challenge. In the end of the design sprint we needed to come out with a solution defining a value proposition and a concept to be developed.</p>

          <div class="project-images">
            <figure>
              <img src="/images/sourun-discussion.png" alt="sourun discussion picture" title="sourun discussion picture" />
            </figure>
          </div></br></br>

          <h3>Design Research</h3>
          <p>Before the Design Sprint we focused on Design Research to understand the running field, using quantitative and qualitative research. We talked with runners, athletes, coaches and experts to know more about their perception and personal relation with this activity. At the same time we did an immersion in a sport advisory club taking part in running classes and self-training to test existing running apps. This immersion allowed us to look from user’s perspective and empatise with their habits and behaviours, gathering a better understanding about their values and needs as a runner.</br></br>

          Our original idea, before the research, was to build a running app that could provide training plans and track running. After the research and during the Design Sprint we completely changed our minds. We realised that the existence of running solutions were much more than we were imagining. Thousands of apps doing exactly the same thing. After a lot of discussion and regarding all the expertise the client had with running advisory, we ended up understanding that making a running service would be the most interesting solution. Turning the application into a tool part of a bigger service instead of a digital product. In this way our concept focused on providing running expertise through personalised remotely coaching.

          <div class="project-images">
            <figure>
              <img src="/images/sourun-research.png" alt="sourun design research" title="sourun design research" />
            </figure>
          </div>

          <h3>Design Sprint</h3>
          <p>Running the Design Sprint methodology from Google Ventures we facilitated an innovation week through a co-creation enviroment. Five days dedicated to create a new concept and test our ideas. Each day was focused on a goal and outcome. The sessions were intense and fascinating at the same time, we could align the team, make everyone deep dive into the process and end up with a great solution.</br></br>

          At the end of the innovation week we were able to validate our value proposition, understand the gaps of the service and iterate our prototype. In one week we were able to create an idea from scratch, define how could be the solution and validate it. Moreover, we could get many insights with users, understanding when they use running products and services and how they use it. Making our analysis and decisions easier to define which features and values were relevant for the service. We finished the sprint with a roadmap able to plan future directions and the service development. Our outcome was the running service called Sourun.</p>

          <div class="project-images">
            <figure>
              <img src="/images/sourun-ideas.jpg" alt="sourun ideas picture" title="sourun ideas picture" />
            </figure>
          </div></br></br>

          <h3>Implementation</h3>
          <p>After the Design Sprint we started to develop and implement the solution. In 3 months we launched the first version of Sourun. Sourun is a service placed in Brazil but it is continuously looking for improvements to rock the experience and provide new features, excited to attend new locations soon.</p></br>

          <div class="project-images">
            <figure>
              <img src="/images/sourun-launch.png" alt="sourun app" title="sourun app" />
            </figure>
          </div>

          <div class="project-images">
            <figure>
              <img src="/images/sourun-tenis.png" alt="sourun running picture" title="sourun running picture" />
            </figure>
          </div>

          <span class="project-credits">Project developed at <a href="http://jurema.la/">Jurema software and innovation consultancy</a> | 2014<br/>
          Partners: Run & Fun</span></br></br>

          <div class="links-related">
            <h3>LINKS RELATED</h3>
            <ul>
              <li>
                <a class="links-related-image" href=""><img src="/images/thumb-link-sourun.png"></a>
                <a href="https://sprintstories.com/sourun-how-we-transformed-a-running-app-idea-into-a-service-with-design-sprint-4f642e500397">Sourun: How We Transformed an App Idea Into a Real Service for Runners With a Design Sprint</a>
                <p class="links-related-description">Sprint Stories</p>
              </li>
              <li>
                <a class="links-related-image" href=""><img src="/images/thumb-link-design-sprint.png"></a>
                <a href="https://medium.com/brasil/o-universo-fora-da-casca-de-noz-6c5bef4b9893#.itsokxyrp">The universe outside a nutshell</a>
                <p class="links-related-description">Innovation week applying design sprint process.</p>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/monte-azul.html">
                <img src="/images/thumb-monte-azul-bw.png" alt="monte azul project" title="monte azul project"/>
              </a>
              <a href="/projects/monte-azul.html">
                <h1>MONTE AZUL</h1>
              </a>
              <p>Contributing for sustainability of NGO Monte Azul through strategic design.</p>
            </li>
            <li>
              <a href="/projects/rice-bean.html">
                <img src="/images/thumb-rice-bean-bw.png" alt="rice and bean project" title="rice and bean project"/>
              </a>
              <a href="/projects/rice-bean.html">
                <h1>RICE AND BEAN</h1>
              </a>
              <p>Project based on the principles of human-centered design to create solutions to provide healthier food.</p>
            </li>
            <li>
              <a href="/projects/money-bag.html">
                <img src="/images/thumb-money-bag-bw.png" alt="money bag project" title="money bag project"/>
              </a>
              <a href="/projects/money-bag.html">
                <h1>MONEY BAG</h1>
              </a>
              <p>Designing the future of money transactions in a cashless scenario.</p>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
