---
title: Curves
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Curves</h1>
        <h2>Produto | Mobiliário</h2>
        <p>Mobiliário projetado para diversos tipos de ambientes. De forma orgânica e texturizada dá uma delicadeza aos ambientes internos e sua resistência e praticidade são ideais aos espaços externos. Produzido por placas OSB (Oriented Strand Board) - material de baixo impacto ambiental - derivado de restos de madeira e toras de árvores pequenas ou de crescimento rápido. É mais resistente que outras placas, como o compensado, tem baixo custo no mercado e resiste as intempéres dos ambientes ao ar livre. Possui uma textura própria que pode ser muito bem explorada. O assento é levemente abaulado para propiciar um melhor conforto e possui frestras vazadas que permite a circulação de ar e o escoamento de água quando necessário. Pode ser agrupado à outros banquinhos formando um banco coletivo, ou ser utilizado como peça única.
        </p>
        <span>Projeto realizado na Universidade Estadual Paulista - Unesp | 2010<br/>Parceria com Lucas Busatto</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/curves.png" alt="Mobiliário Curves" title="Mobiliário Curves" />
        </figure>
      </div>
    </article>
  </section>
</section>
