---
title: Devise
---

<section class="project">
  <section class="project-content">
      <div id="devise">
      <article>
        <div class="project-description project-images">
          <h1 class="section-title">DEVISE</h1>
          <span class="divider"></span>
          <h2 class="section-description">Logo designed for a flexible authentication solution for Ruby on Rails.</h2>

          <p>Devise is a solution for the programming language Ruby on Rails. It's a flexible authentication based on Warden composed of 10 modules that allows to customize Rails authentication system. <br/><a href="http://devise.plataformatec.com.br/" target="_blank">View Devise ></a>

          <h3>CONCEPT</h3>
          <p>Devise's logo is designed based on the idea of genetic code that is a set of rules by which information encoded within genetic material creates a unique sequence. The Devise logo represents flexibility, identity, modular combination and reliability of the authentication solution.<br/></p>
          <figure>
            <img src="/images/devise-genetic.png" alt="devise concept" title="devise concept" />
          </figure>

          <h3>SOLUTION</h3>
          <figure>
            <img src="/images/devise-logo-bg.png" alt="devise logo" title="devise logo" />
          </figure>
          
          <span class="project-credits">Designed by Bruna Kochi at <a href="http://plataformatec.com.br/">Plataformatec - Consulting and Software Enginnering</a> | 2011</span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/plataformatec.html">
                <img src="/images/thumb-ptec-bw.png" alt="plataformatec" title="plataformatec"/>
              </a>
              <a href="/projects/plataformatec.html">
                <h1>PLATAFORMATEC</h1>
              </a>
                <p>Redesign Plataformatec Branding.</p>
              </a>
            </li>
            <li>
              <a href="/projects/elixir.html">
                <img src="/images/thumb-elixir-bw.png" alt="elixir project" title="elixir project"/>
              </a>
              <a href="/projects/elixir.html">
                <h1>ELIXIR</h1>
              </a>
              <p>Logotype for a programming language.</p>
            </li>
            <li>
              <a href="/projects/soccerex.html">
                <img src="/images/thumb-soccerex-bw.png" alt="soccerex project" title="soccerex project"/>
              </a>
              <a href="/projects/soccerex.html">
                <h1>SOCCEREX</h1>
              </a>
                <p>iPhone App to follow the event Soccerex - The Global Leader for the Business of Football. UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</p>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
