---
title: Elixir
---

<section class="project">
  <section class="project-content">
      <div id="elixir">
      <article>
        <div class="project-description project-images">
          <h1 class="section-title">ELIXIR</h1>
          <span class="divider"></span>
          <h2 class="section-description">Logotype for a new programming language.</h2>

          <p>Elixir is a dynamic, functional programming language designed for building scalable and maintainable applications. Elixir leverages the Erlang VM, known for running low-latency, distributed and fault-tolerant systems, while also being successfully used in web development and the embedded software domain.</p>

          <figure>
            <img src="/images/elixir-horizontal.png" alt="Elixir horizontal logo" title="Elixir horizontal logo" />
          </figure>

          <h3>CONCEPT</h3>
          Based on the playful side of the elixir as magic potions, the colors and nuance in a drop shape brings the modernity of language as well as robust and solid feeling of the Erlang.<br/><a href="http://elixir-lang.org/" target="_blank">View Elixir language ></a></h2>
          
          <figure>
            <img src="/images/elixir-vertical.png" alt="Elixir vertical logo" title="Elixir vertical logo" />
            <p>Elixir vertical logo</p>
          </figure>

          <figure>
            <img src="/images/elixir-variantes.png" alt="Elixir color variation studies" title="Elixir color variation studies" />
            <p>Elixir color variations studies</p>
          </figure>
          <span class="project-credits">Developed by <a href="http://plataformatec.com.br/">Plataformatec - Consulting and Software Enginnering</a> | 2011</span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/soccerex.html">
                <img src="/images/thumb-soccerex-bw.png" alt="soccerex" title="soccerex"/>
              </a>
              <a href="/projects/soccerex.html">
                <h1>SOCCEREX</h1>
              </a>
                <p>iPhone App to follow the event Soccerex.</p>
              </a>
            </li>
            <li>
              <a href="/projects/devise.html">
                <img src="/images/thumb-devise-bw.png" alt="devise" title="devise"/>
              </a>
              <a href="/projects/devise.html">
                <h1>DEVISE</h1>
              </a>
                <p>Logotype for a flexible authentication solution for Rails.</p>
              </a>
            </li>
            <li>
              <a href="/projects/emporio-gourmet.html">
                <img src="/images/thumb-emporium-gourmet-bw.png" alt="emporio gourmet" title="emporio gourmet"/>
              </a>
              <a href="/projects/emporio-gourmet.html">
                <h1>EMPORIO GOURMET</h1>
              </a>
                <p>Graphic design project for gastronomy magazine.</p>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
