---
title: Emporio Gourmet
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
      <h1 class="section-title">EMPORIUM GOURMET</h1>
        <span class="divider"></span>
        <h2 class="section-description">Graphic design project for gastronomy magazine.<br/><a href="http://www.youblisher.com/p/36047-Revista-Emporio-Gourmet/" target="_blank">View magazine ></a></h2>
        <figure>
          <img src="/images/gourmet-indice.png" alt="Emporium gourmet index" title="Emporium gourmet index" />
        </figure>
        <p>Gourmet Emporium Magazine is produced based in gastronomy essence that covers food, drinks, materials used in food and cultural aspects associated with cuisine. Bring articles and special graphic production so that the reader has a refined magazine combined with the pleasure of fine cuisine. With the U.S. paper format and a clean design, the magazine shows a sophistication with well produced photos and use of special finishes to touch the senses of readers.</p>
        <figure>
          <img src="/images/gourmet-color.png" alt="Emporium gourmet colors" title="Emporium gourmet colors" />
        </figure>
        <figure>
          <img src="/images/gourmet-macaroons.png" alt="Emporium gourmet recipe" title="Emporium gourmet article" />
        </figure>
        <figure>
          <img src="/images/gourmet-ratatuille.png" alt="Emporium gourmet recipe" title="Emporium gourmet article" />
        </figure>
        <figure>
          <img src="/images/gourmet-ingredientes2.png" alt="Emporium gourmet ingredient" title="Emporium gourmet ingredient" />
        </figure>
        <figure>
          <img src="/images/gourmet-photos.png" alt="Emporium gourmet photos" title="Emporium gourmet photos" />
        </figure>
        <span class="project-credits">Academic project conducted at <a href="http://www.faac.unesp.br/">University State of Sao Paulo - Unesp</a> | 2010</span>
      </div>

      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="/projects/elixir.html">
              <img src="/images/thumb-elixir-bw.png" alt="elixir project" title="elixir project"/>
            </a>
            <a href="/projects/elixir.html">
              <h1>ELIXIR</h1>
            </a>
            <p>Logotype for a programming language.</p>
          </li>
          <li>
            <a href="/projects/musashi.html">
              <img src="/images/thumb-musashi-bw.png" alt="musashi project" title="musashi project"/>
            </a>
            <a href="/projects/musashi.html">
              <h1>MUSASHI</h1>
            </a>
            <p>Redesign for cover book Musashi.</p>
          </li>
          <li>
            <a href="/projects/type.html">
              <img src="/images/thumb-typo-bw.png" alt="type project" title="type project"/>
            </a>
            <a href="/projects/type.html">
              <h1>TYPE</h1>
            </a>
            <p>Handicraft and letterpress for business cards.</p>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
