---
title: Money Bag
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1 class="section-title">MONEY BAG</h1>
        <span class="divider"></span>
        <h2 class="section-description">Designing a financial service for family's management in a cashless scenario.</h2>
        
        <h3>CONTEXT</h3>
        <p>Shift towards cashless society as technology (biometrics) and digital infrastructure progress, a shift that been regarded as the ‘ULTIMATE time saver’. Modern day life is hectic. Time is fast becoming greatest resource of money. Everyday problem ESPECIALLY for working mom, time poor, depends upon convenience and efficiency to organise, manage family activity. To create an everyday responsive solution, that addresses both aspects, building upon familiar existing technologies (already we have calendars, contacts, cash transactions on mobile platforms). How can we provide a responsive service, with a cashless scenario?</p>

        <!-- <div class="project-images">
          <figure>
            <img src="/images/money-bag-persona.png" alt="money bag" title="money bag" />
          </figure>
        </div> -->

        <h3>THE PROJECT</h3>
        <p>Moneybags a cashless app for mother and child (10-15 years) that facilitates pre-approved transactions remotely, allowing the mother to track, manage and regulate child’s spending activity, WHILST facilitating childs independence and increasing their contact with ‘money’ through feedback, points of learning & contact.</p>

        <div class="project-images">
          <figure>
            <img src="/images/money-bag-story.png" alt="money bag" title="money bag" />
          </figure>
        </div>

        <p>Four days project presented at Frog Design Milan.</p>
        <!-- <div class="project-images">
          <figure>
            <img src="/images/money-bag-presentation-2.png" alt="money bag" title="money bag" />
          </figure>

        </div> -->

        <span class="project-credits">Academic project conducted at <a href="http://www.servicedesignmaster.com/">Politecnico di Milano</a> | 2009 <br/>Partners: Elizabeth Meehen, Daniela Duran and Carla Egg.</span>
      </div>
      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="/projects/workshop-guia-folha.html">
              <img src="/images/thumb-guia-folha-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
            </a>
            <a href="/projects/workshop-guia-folha.html">
              <h1>WORKSHOP GUIA FOLHA</h1>
            </a>
              <p>Thinking the future of Guia Folha, a cultural city guide of São Paulo.</p>
          </li>
          <li>
            <a href="/projects/space.html">
              <img src="/images/thumb-space-box-bw.png" alt="space box" title="space box"/>
            </a>
            <a href="/projects/space.html">
              <h1>SPACE BOX</h1>
            </a>
              <p>Providing a better experience for occasionals inside the National Museum of Science and Technology.</p>
            </a>
          </li>
          <li>
            <a href="/projects/barbearia-miranda.html">
              <img src="/images/thumb-miranda-barbershop-bw.png" alt="miranda barbershop" title="miranda barbershop"/>
            </a>
            <a href="/projects/barbearia-miranda.html">
              <h1>MIRANDA BARBERSHOP</h1>
            </a>
              <p>Revitalization project for local market at Aveiro | Portugal.s</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
