---
title: Monte Azul
---

<section class="project">
  <section class="project-content">
      <div id="monte-azul">
      <article>
        <div class="project-description">
          <h1 class="section-title">MONTE AZUL</h1>
          <span class="divider"></span>
          <h2 class="section-description">Contributing for sustainability of NGO Monte Azul through strategic design.</h2>

          <h3>CONTEXT</h3>
          <p>Monte Azul Community Association is a non-profit organization that operates primarily for the integral development of the human being, through projects and actions in education, food, health, environment and culture. In São Paulo, 3 million people live under precarious conditions favelas. Together with the residents of three favelas Monte Azul association breaks the vicious circle of poverty. Currently, a decrease of resources is concerning the NGO and our challenge is to contribute to the sustainability of Monte Azul through strategic design. </p>

          <div class="project-images">
            <figure>
              <img src="/images/monte-azul-context-2.png" alt="monte azul context" title="monte azul context" />
            </figure>
          </div></br>

          <h3>RESEARCH AND WORKSHOP</h3>
          <p>The work of the Monte Azul is based on the principles of anthroposophy and Waldorf pedagogy. To give a person the opportunity to develop healthily to its fullest potential and become the man he wants to be, several requirements must be met.

          Monte Azul provides programs which are divided in different areas of education, health, culture and environmental protection.

          Our research was focused in understanding the role of their philosophy. How do people understand anthroposophy as a human change experiment? How to make the Monte Azul speech more flexible and in a more comprehensive understanding? How to structure thinking actions the future of Monte Azul?</p>

          <div class="project-images">
            <figure>
              <img src="/images/monte-azul-interview.png" alt="monte azul interview" title="monte azul interview" />
            </figure>
          </div>

          <div class="project-images">
            <figure>
              <img src="/images/monte-azul-workshop-2.png" alt="monte azul workshop" title="monte azul workshop" />
            </figure>
          </div>

          <iframe src="https://player.vimeo.com/video/159279312" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p><a href="https://vimeo.com/159279312">Workshop Monte Azul</a> from <a href="https://vimeo.com/user7020973">Bruna Kochi</a> on <a href="https://vimeo.com">Vimeo</a>.</p></br>

          <h3>STRATEGY</h3>
          <p>The strategic planning experience and communication aims to show the full potential of Monte Azul through their projects and their values, consequently attract more people and create a network of growing relationships. Transforming Monte Azul through a natural process, without losing their values, and contribute to achieving the sustainability of Monte Azul.</p>

          <div class="project-images">
            <figure>
              <img src="/images/monte-azul-strategy.png" alt="monte azul strategy" title="monte azul strategy" />
            </figure>
          </div>

          <h3>BRAND POSITIONING</h3>
          <p>Strategic Planning and Communication Experience through a new market positioning and dissemination actions and engagement focused on people and companies, we can promote a greater involvement of them with the Monte Azul, getting new partners, funding and donors, relying always on the mutual and free exchange, using the benefits that Monte Azul offers since joining the needs of people with market opportunities to generate new solutions. Our project proposes to create small changes to be put in place and validated over time, with the positive result shall be put in place and thus it is possible to transform the NGO community and society with specific actions and so more concrete. This format is thought through concepts and strategies to enable the involvement of people and the possibility of change.</p>

          <div class="project-images">
            <figure>
              <img src="/images/monte-azul-newlogo.png" alt="monte azul new logo" title="monte azul new logo" />
            </figure>
            <figure>
              <img src="/images/monte-azul-website.png" alt="monte azul website" title="monte azul website" />
            </figure>
          </div>

          <span class="project-credits">Final Project in Master of Strategic Design at Istituto Europeo di Design - Sao Paulo | 2015<br/>Credits: Eduardo Lobo and Denise Scassa.<br/>
          Partners: Monte Azul</span>

        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/workshop-guia-folha.html">
                <img src="/images/thumb-guia-folha-bw.png" alt="workshop guia folha" title="workshop guia folha"/>
              </a>
              <a href="/projects/workshop-guia-folha.html">
                <h1>WORKSHOP GUIA FOLHA</h1>
              </a>
              <p>Thinking the future of Guia Folha, a cultural city guide of São Paulo.</p>
            </li>
            <li>
              <a href="/projects/space-box.html">
                <img src="/images/thumb-space-box-bw.png" alt="space box project" title="space box project"/>
              </a>
              <a href="/projects/space-box.html">
                <h1>SPACE BOX</h1>
              </a>
              <p>Providing a better experience for occasionals inside the National Museum of Science and Technology.</p>
              </a>
            </li>
            <li>
              <a href="/projects/nodus.html">
                <img src="/images/thumb-nodus-bw-2.png" alt="nodus project" title="nodus project"/>
              </a>
              <a href="/projects/nodus.html">
                <h1>NODUS</h1>
              </a>
                <p>Interactive installation from human network related to Chaos Theory.</p>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
