---
title: Musashi
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1 class="section-title">MUSASHI</h1>
        <span class="divider"></span>
        <h2 class="section-description">Redesign of Musashi's book cover.</h2>
        <p>Proposal for another cover for the book musashi, based on the oriental style and history drawn by the book. Its chapters are graphically represented by the elements of nature.</p>
      
        <div class="project-images">
          <figure>
            <img src="/images/musashi-livro.png" alt="Releitura Musashi" title="Releitura Musashi" />
         </figure>
        </div>

        <span class="project-credits">Academic project conducted at <a href="http://www.faac.unesp.br/">University State of Sao Paulo - Unesp</a> | 2010</span>
      </div>

      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="/projects/sourun.html">
              <img src="/images/thumb-sourun-bw-3.png" alt="foto tipos móveis" title="tipos móveis"/>
            </a>
            <a href="/projects/sourun.html">
              <h1>SOURUN</h1>
            </a>
            <p>Designing the first online running advisory service with real coaches.</p>
          </li>
          <li>
            <a href="/projects/elixir.html">
              <img src="/images/thumb-elixir-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
            </a>
            <a href="/projects/elixir.html">
              <h1>ELIXIR</h1>
            </a>
              <p>Logotype for a programming language. Based on the playful side of the elixir as magic potions, the colors and nuance in drop form bring the modernity of language as well as robust and solid feeling of the Erlang.</p>
            </a>
          </li>
          <li>
            <a href="/projects/nodus.html">
              <img src="/images/thumb-nodus-bw-2.png" alt="foto tipos móveis" title="tipos móveis"/>
            </a>
            <a href="/projects/nodus.html">
              <h1>NODUS</h1>
            </a>
              <p>Interactive installation from human network related to Chaos Theory.</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
