---
title: Palavra Tipográfica
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1>Palavra tipográfica</h1>
        <h2>Criação tipográfica por expressão da palavra</h2>
        <span>Projeto acadêmico realizado na Universidade Estadual Paulista - Unesp | 2009</span>
      </div>
      <div class="project-images">
        <figure>
          <img src="/images/origami.png" alt="Origami" title="Origami" />
          <figcaption>Origami - baseado nas dobraduras de papel, parte da cultura oriental. Utilizando cortes geométricos, cores fortes e linhas similares as dobras.</figcaption>
        </figure>
        <figure>
          <img src="/images/futil.png" alt="Fútil" title="Fútil" />
          <figcaption>fútil - crítica ao luxo excessivo. Trabalhando no estilo corsivo, representado por diamantes seriados.</figcaption>
        </figure>
        <figure>
          <img src="/images/alucinar.png" alt="Alucinar" title="Alucinar" />
          <figcaption>Alucinar - Tipografia criada na expressão e efeito sensitivo da palavra.</figcaption>
        </figure>
      </div>
    </article>
  </section>
</section>
