---
title: Plataformatec
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1 class="section-title">PLATAFORMATEC</h1>
        <span class="divider"></span>
        <h2 class="section-description">Redesign Plataformatec Branding. Logotype creation, corporate identity, website and graphic compositions for the new Plataformatec brand to launch a new concept in consulting.</h2>
        <figure>
          <img src="/images/ptec-logo.png" alt="Plataformatec logo" title="Plataformatec logo" />
        </figure>
        <figure>
          <img src="/images/ptec-aplicacoes.png" alt="Plataformatec identity" title="Plataformatec identity" />
        </figure>
        <figure>
          <img src="/images/ptec-cartoes.png" alt="Plataformatec business card" title="Plataformatec business card" />
        </figure>
        <figure>
          <img src="/images/ptec-responsivo.png" alt="Plataformatec responsive website" title="Plataformatec responsive website" />
        </figure>
        <span class="project-credits">Developed at <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Engineering</a> | 2011</span>
      </div>
      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="/projects/autoseg.html">
              <img src="/images/thumb-autoseg-bw.png" alt="autoseg" title="autoseg"/>
            </a>
            <a href="/projects/autoseg.html">
              <h1>AUTOSEG</h1>
            </a>
            <p>New brand and website to Autoseg company. Front-end and User Interface.</p>
          </li>
          <li>
            <a href="/projects/elixir.html">
              <img src="/images/thumb-elixir-bw.png" alt="elixir project" title="elixir project"/>
            </a>
            <a href="/projects/elixir.html">
              <h1>ELIXIR</h1>
            </a>
            <p>Logotype for a programming language.</p>
          </li>
          <li>
            <a href="/projects/devise.html">
              <img src="/images/thumb-devise-bw.png" alt="devise" title="devise"/>
            </a>
            <a href="/projects/devise.html">
              <h1>DEVISE</h1>
            </a>
              <p>Logotype for a flexible authentication solution for Rails.</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
