---
title: Plataformatec Website
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description project-images">
        <h1>Plataformatec Website</h1>
        <h2>New website to Plataformatec company. Front-end and User Interface. <br/><a href="http://plataformatec.com.br/" target="_blank">View plataformatec.com.br ></a></h2>
        <figure>
          <img src="/images/ptec-responsivo.png" alt="Plataformatec responsive website" title="Plataformatec responsive website" />
        </figure>
        <figure>
          <img src="/images/ptec-home.png" alt="Plataformatec homepage" title="Plataformatec homepage" />
        </figure>
        <figure>
          <img src="/images/ptec-services_.png" alt="Plataformatec services" title="Plataformatec services" />
        </figure>
        <figure>
          <img src="/images/ptec-services-print.png" alt="Plataformatec services" title="Plataformatec services" />
        </figure>
        <span>Developed by <a href="http://plataformatec.com.br/">Plataformatec Consulting and Software Enginnering</a> | 2011</span>
      </div>
    </article>
  </section>
</section>
