---
title: Rice and bean
---

<section class="project">
  <section class="project-content">
      <div id="rice-bean">
      <article>
        <div class="project-description">
          <h1 class="section-title">RICE AND BEAN</h1>
          <span class="divider"></span>
          <h2 class="section-description">Providing healthier food options for people in need of them.</h2>

          <h3>THE CHALLENGE</h3>
          <p>Little infrastructure for the distribution and preservation of food. Food is often spoiled or lost during distribution. In other places, healthy food options are simply unavailable or community members lack the knowledge to make healthy food choices. Another constraint is access to capital, both for small businesses providing healthy food and potential customers. How might we provide healthier food options for people in need of them?</p>

          <h3>DESIGN RESEARCH</h3>
          <p>We dedicated a moment in field to talk with people to capture their thoughts and understanding about healthy food. Talking with members of the community and experts to learn from people.</p>

          <div class="project-images">
            <figure>
              <img src="../images/hcd-refrigerator.png" alt="Rice and bean" title="Rice and bean" />
            </figure>
          </div>
          
          <h3>THE PROJECT</h3>
          <p>We spend some time in the field and talk with people to see what they think and understand about healthier food, their needs, behaviors and frustrations. Talking with members of the community and experts to learn from people. In an ideate phase we got insights based on research analyze. The team shared the stories we learned and start create new ideas. Based on the needs and behavior of people, ideas and insights analyzed we think about a collective refrigerator solution with easy access to people, the aim of providing fresh food and select a balanced way through kits with seasonal food to prepare in house or take out. Providing preparation instructions and information on better nutrition. Avoiding food waste, a more balanced supply to the population and greater incentive to culinary learning. Also there is the possibility of fewer individual refrigerators.</p>
          <span class="project-credits">Project result from <a href="http://plusacumen.org/courses/hcd-for-social-innovation/">Human Centered Design for Social innovation course</a> from <a href="http://acumen.org/">+Acumen</a> | 2013 <br/>Partners: Rogério Rossi, Mariana Ozaki, André Noboru, Debora Midori, Ricardo Taguchi.</span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/miranda-barbershop.html">
                <img src="/images/thumb-miranda-barbershop-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              </a>
              <a href="/projects/barbearia-miranda.html">
                <h1>MIRANDA BARBERSHOP</h1>
              </a>
                <p>Revitalization project for local market at Aveiro | Portugal</p>
              </a>
            </li>
            <li>
              <a href="/projects/space-box.html">
                <img src="/images/thumb-space-box-bw.png" alt="space box project" title="space box project"/>
              </a>
              <a href="/projects/space-box.html">
                <h1>SPACE BOX</h1>
              </a>
                <p>Providing a better experience for occasionals inside the National Museum of Science and Technology.</p>
              </a>
            </li>
            <li>
              <a href="/projects/soccerex.html">
                <img src="/images/thumb-soccerex-bw.png" alt="soccerex project" title="soccerex project"/>
              </a>
              <a href="/projects/soccerex.html">
                <h1>SOCCEREX</h1>
              </a>
                <p>iPhone App to follow the event Soccerex - The Global Leader for the Business of Football. UI and UX Design Project, create interface, flow study and prototyping for developing iOS application.</p>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
