---
title: Spy Hearo
---

<section class="project">
  <section class="project-content">
      <div id="spy-hearo">
      <article>
        <div class="project-description">
          <h1 class="section-title">SPY HEARO</h1>
          <span class="divider"></span>
          <h2 class="section-description">How to help hearing aid users to calibrate their devices using gamefication.</h2>

          <h3>CONTEXT</h3>
          <p>Over 90 million people in Europe currently suffer from hearing loss, and due to an ageing population this number is likely to continue to increase. According to the World Health Organization, over 5% of the world’s population – 360 million people – has disabling hearing loss (328 million adults and 32 million children).</p>

          <h3>CHALLENGE</h3>
          <p>Traditional analogue hearing aid only performed a limited array of functions such as equalization and amplification. Usually hearing aids were calibrated by a specialist  a single time and then given to patients. New digital hearing aids have many additional functions and settings with calibration possibilities, but calibration is not easy! 
          3D Tune-In technology brings together relevant stakeholders from traditional gaming industries, academic institutes, a large European hearing aid manufacturer and hearing communities to produce digital games in the field of hearing aid technologies and hearing loss in children and older adults.</p>

          <div class="project-images">
            <figure>
              <img src="/images/tune-3d.png" alt="spy hearo app" title="spy hearo app" />
            </figure>
          </div>

          <h3>SOLUTION</h3>
          <p>Spy hearo is the only learning app for young people and hearing impaired that allows self-assessment of your hearing ability and calibrates your hearing device in a better way through gamification.</p>

          <p>From outer space where silence reigns, you are coming on planet Earth for a spy mission. The City is full of different sounds, you have to explore different environments and gather information by hearing. The more areas the character explores, the better gets his/her hearing ability/ calibration. The final goal is to decode a secret message.</p>

          <div class="project-images">
            <figure>
              <img src="/images/spy-hearo-app.png" alt="spy hearo app" title="spy hearo app" />
            </figure>
          </div>
          
          <span class="project-credits">Academic project conducted at <a href="http://www.servicedesignmaster.com/">Politecnico di Milano</a> | 2009 <br/>Partners: Elisabeth Graf, Daniela Duran and Sagar Satam.</span>
        </div>
        <div class="projects-related">
          <h3>OTHER PROJECTS</h3>
          <ul>
            <li>
              <a href="/projects/workshop-guia-folha.html">
                <img src="/images/thumb-guia-folha-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              </a>
              <a href="/projects/workshop-guia-folha.html">
                <h1>WORKSHOP GUIA FOLHA</h1>
              </a>
                <p>Thinking the future of Guia Folha, a cultural city guide of São Paulo.</p>
            </li>
            <li>
              <a href="/projects/money-bag.html">
                <img src="/images/thumb-money-bag-bw.png" alt="money bag" title="money bag"/>
              </a>
              <a href="/projects/money-bag.html">
                <h1>MONEY BAG</h1>
              </a>
              <p>Designing the future of money transactions in a cashless scenario.</p>
            </li>
            <li>
              <a href="/projects/miranda-barbershop.html">
                <img src="/images/thumb-miranda-barbershop-bw.png" alt="foto tipos móveis" title="tipos móveis"/>
              </a>
              <a href="/projects/miranda-barbershop.html">
                <h1>MIRANDA BARBERSHOP</h1>
              </a>
                <p>Revitalization project for local market at Aveiro | Portugal</p>
              </a>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </article>
    </div>
  </section>
</section>
