---
title: Type
---

<section class="project">
  <section class="project-content">
    <article>
      <div class="project-description">
        <h1 class="section-title">TYPE</h1>
        <span class="divider"></span>
        <h2 class="section-description">Letterpress.</h2>
        <p>Design of business card using letterpress and handicraft process.</p>

        <div class="project-images">
          <figure>
            <img src="/images/composicao-nome.png" alt="Foto composição de tipos móveis" title="Foto composição de tipos móveis" />
          </figure>
          <figure>
            <img src="/images/composicao-tipos.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
          </figure>
          <figure>
            <img src="/images/composicao-prova.png" alt="Fotos composição de cartão de visita" title="Fotos composição de cartão de visita" />
          </figure>
        </div>

        <span class="project-credits">Project developed at <a href="http://www.oficinatipografica.com.br/index.html">Oficina Tipográfica São Paulo</a> | 2012</span>
      </div>
      

      <div class="projects-related">
        <h3>OTHER PROJECTS</h3>
        <ul>
          <li>
            <a href="/projects/soccerex.html">
              <img src="/images/thumb-soccerex-bw.png" alt="soccerex" title="soccerex"/>
            </a>
            <a href="/projects/soccerex.html">
              <h1>SOCCEREX</h1>
            </a>
              <p>iPhone App to follow the event Soccerex.</p>
            </a>
          </li>
          <li>
            <a href="/projects/devise.html">
              <img src="/images/thumb-devise-bw.png" alt="devise" title="devise"/>
            </a>
            <a href="/projects/devise.html">
              <h1>DEVISE</h1>
            </a>
              <p>Logotype for a flexible authentication solution for Rails.</p>
            </a>
          </li>
          <li>
            <a href="/projects/emporio-gourmet.html">
              <img src="/images/thumb-emporium-gourmet-bw.png" alt="emporio gourmet" title="emporio gourmet"/>
            </a>
            <a href="/projects/emporio-gourmet.html">
              <h1>EMPORIO GOURMET</h1>
            </a>
              <p>Graphic design project for gastronomy magazine.</p>
            </a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
    </article>
  </section>
</section>
