@mixin contact-link {
  color: #000;
  font-family: 'Abel', arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}
