<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Design, Nodus, Chaos, Caos, Instalação, Interaction">
    <meta name="description" content="Projeto de instalação que questiona a interrelação humana e ela como um meio possível através do Design. A criatividade e a qualidade de cada ser na atual dimensão coletiva">
    <link rel="stylesheet" type="text/css" href="/stylesheet/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/960grid.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/typography.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css" />
    <title>NODUS - Instalação interativa de rede de relações referencializada na teoria do caos</title>
  </head>

  <body>
    <div id='wrapper' class="container_12 clearfix">
      <header class="grid_12 clearfix">
        <h1 class="logo"><a href="/">nodus-project</a></h1>
        <nav>
          <ul>
            <li><a href="/nodus/home.html">Projeto</a></li>
            <li><a href="/nodus/process.html">Processo</a></li>
            <li><a href="/nodus/apresentacao.html">Apresentação</a></li>
            <li><a href="/nodus/introducao.html">Teoria</a></li>
            <li><a href="/nodus/reference.html">Referência</a></li>
          </ul>
        </nav>
      </header>
      <section id="content" class="grid_12 clearfix">
        <section id="theory-content" class="text">
          <aside>
            <h3>Teoria</h3>
            <ul>
              <li><a href="">1. Introdução</a></li>
              <li><a href="nodus/o-design.html">2. O design</a></li>
              <li class="tab1"><a href="">2.1. Comunicação</a></li>
              <li class="tab1"><a href="">2.2. Estética</a></li>
              <li class="tab1"><a href="">2.3. Criatividade</a></li>
              <li><a href="">3. Traçando a rede</a></li>
              <li class="tab1"><a href="">3.1. A sociedade e a rede</a></li>
              <li class="tab1"><a href="">3.2. Interrelações</a></li>
              <li class="tab1"><a href="">3.3. Emergência</a></li>
              <li class="tab1"><a href="">3.4. Caosmose</a></li>
              <li><a href="">4. A ordem e o caos</a></li>
              <li class="tab1"><a href="">4.1. O não-dualismo</a></li>
              <li class="tab1"><a href="">4.2. Teoria do caos</a></li>
              <li class="tab1"><a href="">4.3. O caos e a criatividade</a></li>
              <li><a href="">5. A representação</a></li>
              <li class="tab1"><a href="">5.1. Concepção</a></li>
              <li class="tab1"><a href="">5.2. Desenvolvimento</a></li>
              <li class="tab2"><a href="">5.2.1. Produção gráfica</a></li>
              <li class="tab2"><a href="">5.2.2. Interação</a></li>
              <li class="tab2"><a href="">5.2.3. Sonora</a></li>
              <li class="tab1"><a href="">5.3 Demo</a></li>
              <li class="tab2"><a href="">5.3.1. Como funciona</a></li>
              <li class="tab2"><a href="">5.3.2. Video de apresentação</a></li>
              <li class="tab2"><a href="">5.3.3. Fotos</a></li>
              <li><a href="">6. Conclusão</a></li>
              <li><a href="">7. Bibliografia</a></li>
            </ul>
          </aside>
          <article>
            {{ content }}
          </article>
          <div style='clear: both'></div>
        </section>
      </section>
    </div>
    <footer>
      <ul>
        <li>Contato</li>
        <li>Agradecimentos</li>
        <li>Dedicatória</li>
      </ul>
    </footer>
  </body>
</html>
