<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Design, Nodus, Chaos, Caos, Instalação, Interaction">
    <meta name="description" content="Projeto de instalação que questiona a interrelação humana e ela como um meio possível através do Design. A criatividade e a qualidade de cada ser na atual dimensão coletiva">
    <link rel="stylesheet" type="text/css" href="/stylesheet/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/960grid.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/typography.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <title>NODUS - Instalação interativa de rede de relações referencializada na teoria do caos</title>
  </head>

  <body>
    <div class="wrapper clearfix">
      <header class="top-bar">
        <h1 class="logo"><a href="/">nodus-project</a></h1>
        <nav class="container_12">
          <ul class="grid_6 push_3">
            <li class="first-child-element"><a href="/nodus/home3.html">HOME</a></li>
            <li><a href="/nodus/project.html">PROJETO</a></li>
            <li><a href="/nodus/theory/introducao.html">CONCEITO</a></li>
            <li><a href="/nodus/process.html">APLICATIVO</a></li>
            <li><a href="/nodus/apresentacao.html">APRESENTAÇÃO</a></li>
            <li class="last-child-element"><a href="/nodus/reference.html">REFERÊNCIAS</a></li>
          </ul>
        </nav>
      </header>
      <section id="content" class="clearfix">
        <section class="theory-content text container_12">
          <article class="grid_7 push_1">
            {{ content }}
          </article>
          <aside class="grid_3 push_1">
            <ul class="article-indice">
              <li><small>O buraco negro</small></li>
              <li class="tab1"><a href="/nodus/theory/introducao.html"> Introdução</a></li>
              <li class="tab1"><a href="/nodus/theory/o-design.html">O design</a></li>
              <li class="tab1"><a href="/nodus/theory/comunicacao.html">Comunicação</a></li>
              <li class="tab1"><a href="/nodus/theory/estetica.html">Estética</a></li>
              <li class="tab1"><a href="/nodus/theory/criatividade.html">Criatividade</a></li>
              <li><small>Traçando a rede</small></li>
              <li class="tab1"><a href="/nodus/theory/sociedade.html">A sociedade</a></li>
              <li class="tab1"><a href="/nodus/theory/emergencia.html">Emergência</a></li>
              <li class="tab1"><a href="/nodus/theory/caosmose.html">Caosmose</a></li>
              <li><small>A ordem e o caos</small></li>
              <li class="tab1"><a href="/nodus/theory/nao-dualismo.html">O não-dualismo</a></li>
              <li class="tab1"><a href="/nodus/theory/teoria-caos.html">Teoria do caos</a></li>
              <li class="tab1"><a href="/nodus/theory/caos-criatividade.html">O caos e a criatividade</a></li>
              <li><small>A representação</small></li>
              <li class="tab1"><a href="/nodus/theory/concepcao.html">Concepção</a></li>
              <li class="tab1"><a href="/nodus/theory/desenvolvimento.html">Desenvolvimento</a></li>
              <li class="tab1"><a href="/nodus/theory/como-funciona.html">Como funciona</a></li>
              <li class="tab1"><a href="/nodus/theory/conclusao.html">Conclusão</a></li>
            </ul>
          </aside>
          <div style='clear: both'></div>
        </section>
      </section>
    </div>
    <footer>
      <ul>
        <li>Contato</li>
        <li>Agradecimentos</li>
        <li>Dedicatória</li>
      </ul>
    </footer>
  </body>
</html>
