<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Design, Nodus, Chaos, Caos, Instalação, Interaction">
    <meta name="description" content="Projeto de instalação que questiona a interrelação humana e ela como um meio possível através do Design. A criatividade e a qualidade de cada ser na atual dimensão coletiva">
    <link rel="stylesheet" type="text/css" href="/stylesheet/reset.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/960grid.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/typography.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <script src="/javascript/Processing.js"></script>
    <title>NODUS - Instalação interativa de rede de relações referencializada na teoria do caos</title>
  </head>

  <body>
    <header class="top-bar">
      <h1 class="logo"><a href="/">nodus-project</a></h1>
      <nav class="container_12">
        <ul class="grid_6 push_3">
          <li class="first-child-element"><a href="/nodus/home3.html">HOME</a></li>
          <li><a href="/nodus/project.html">PROJETO</a></li>
          <li><a href="/nodus/theory/introducao.html">CONCEITO</a></li>
          <li><a href="/nodus/process.html">APLICATIVO</a></li>
          <li><a href="/nodus/apresentacao.html">APRESENTAÇÃO</a></li>
          <li class="last-child-element"><a href="/nodus/reference.html">REFERÊNCIAS</a></li>
        </ul>
      </nav>
    </header>

    <section id="content" class="container_12 clearfix">
      {{ content }}
    </section>

    <footer>
      <ul>
        <li>Contato</li>
        <li>Agradecimentos</li>
        <li>Dedicatória</li>
      </ul>
    </footer>
  </body>
</html>
