<section class="page">
  <div class="wrapper-content">
    <section class="about-content">
      <div>
        <div>
          <h1 class="section-title">ABOUT</h1>
          <span class="divider"></span>
          <p class="section-description">Hi! I am Bruna Kochi, I am a Service, Strategic and UX Designer. I've been working designing and developing digital products and services, mainly with software development and innovation consultancy. I have always pursued projects that could bring value for people’s lives.<br/><br/>

          I am brazilian, descendent of japanese and living abroad. Design, technology and innovation are my passion and I am fascinated by typography and art. 
          
          </p>
        </div>
        <aside class="bruna-photo">
          <img src="/images/bruna-kochi-bw.png" alt="Bruna Kochi"/>
        </aside>
      </div>
    </section>

    <!-- <div>
      <a class="button-more" href="/projects.html">DOWNLOAD COMPLETE CV</a>
    </div> -->
  </div>
</section>