---
title: Nodus project
---

<div id="wrapper">
	<div id="main">
		<section id="first" class="main special">
			<header class="major">
				<h2>Video de apresentação</h2>
				<iframe src="https://player.vimeo.com/video/154440179" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</header>
		</section>
		
		<section id="second" class="main special">
			<header class="major">
				<h2>Apresentando o projeto</h2>
				<iframe src="https://player.vimeo.com/video/156027088" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

				<iframe src="https://player.vimeo.com/video/154479285" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</header>
		</section>

		<section id="cta" class="main special">
			<header class="major">
				<h2>Slides da apresentação</h2>
				<script async class="speakerdeck-embed" data-id="4f973fc16fda0a0022024e7e" data-ratio="1.2994923857868" src="//speakerdeck.com/assets/embed.js"></script>
			</header>
		</section>
	</div>	
</div>