<section class="about-content">
  <article class="bruna-description">
    <h1>Bruna Kochi</h1>
    <p>Hi! I am Bruna Kochi and you can call me Brutiko. I am passionate about design and fascinated by art. Graduated at Sao Paulo State University, I enjoy discover and share new experiences and live to the fullest different cultures. In a simple personality, unique manner and smiling face, I am always looking for new challenges and I make my dreams as my path.
      </p>
    <h3>Contact</h3>
    <a href="mailto:brunakochi@gmail.com"><span class="contact-icons email-icon">email</span>brunakochi@gmail.com</a>
    <a href="https://twitter.com/brutiko" target="_blank"><span class="contact-icons twitter-icon">twitter</span>@brutiko</a>
    <p class="mobile-number"><span class="contact-icons mobile-icon">mobile</span>+55 11 949 566 357</p>
  </article>
  <aside class="bruna-photo">
    <img src="/images/bruna-kochi.png" alt="Bruna Kochi"/>
  </aside>
</section>

<div class="wrapper-full">
    <section id="home-contact">
      <h1 class="section-title">WHAT IS ON</h1>
      <a class="twitter-timeline" href="https://twitter.com/brutiko" data-widget-id="706169040805486592">Tweets by @brutiko</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
  </div>
