<section class="page">
  <div class="wrapper-content">
    <section class="my-projects" id="projects-page">

      <div class="toolbar mb2 mt2">
        <button class="btn fil-cat active" href="" data-rel="all">ALL</button>
        <button class="btn fil-cat" data-rel="service">SERVICE</button>
        <button class="btn fil-cat" data-rel="strategy">STRATEGY</button>
        <button class="btn fil-cat" data-rel="ux">UX/UI</button>
        <button class="btn fil-cat" data-rel="graphic">GRAPHIC</button>
      </div>

      <div style="clear:both;"></div>
      <div id="portfolio">
        <div class="tile scale-anm ux service all">
          <a href="/projects/sourun.html">
            <img src="/images/thumb-sourun-b&w.png" alt="sourun" />
            <div class="box-hover">
              <h2>SOURUN</h2>
              <span>Service Design</span>
              <p>Designing the first online running advisory service with real coaches.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm strategy ux all">
          <a href="/projects/arkpad.html">
            <img src="/images/thumb-arkpad-b&w.png" alt="arkpad" />
            <div class="box-hover">
              <h2>ARKPAD</h2>
              <span>Interaction Design</span>
              <p>New experience designing a house.</p>
            </div>
          </a>
        </div>

        <!-- <div class="tile scale-anm service all">
          <a href="/projects/rice-bean.html">
            <img src="/images/thumb-rice-bean-bw.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>RICE AND BEAN</h2>
              <span>Design Thinking</span>
              <p>Human Centered Design process to provide healthier food options for people in need of them.</p>
            </div>
          </a>
        </div> -->

        <div class="tile scale-anm ux all">
          <a href="/projects/soccerex.html">
            <img src="/images/thumb-soccerex-b&w.png" alt="foto tipos móveis" title="tipos móveis"/>
            <div class="box-hover">
              <h2>SOCCEREX</h2>
              <span>UX / UI Design</span>
              <p>App to guide inside an exhibition</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm ux graphic all">
          <a href="/projects/nodus.html">
            <img src="/images/thumb-nodus-b&w.png" alt="Actionaid and Eataly" title="tipos móveis"/>
            <div class="box-hover">
              <h2>NODUS</h2>
              <span>Research and Installation</span>
              <p>Project that questions the human interrelation and network relations through design.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm strategy ux all">
          <a href="/projects/workshop-guia-folha.html">
            <img src="/images/thumb-guia-folha-b&w.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>GUIA FOLHA</h2>
              <span>Strategic Design</span>
              <p>Thinking in the future of Guia Folha, a cultural city guide of São Paulo.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm ux graphic all">
          <a href="/projects/autoseg.html">
            <img src="/images/thumb-autoseg-bw.png" alt="autoseg branding" />
            <div class="box-hover">
              <h2>AUTOSEG</h2>
              <span>Graphic Design</span>
              <p>Redesign the company branding to create a new identity.</p>
            </div>
          </a>
        </div>

        <!-- <div class="tile scale-anm service all">
          <a href="/projects/spy-hearo.html">
            <img src="/images/thumb-spy-hero-bw.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>SPY HERO</h2>
              <span>Service Design</span>
              <p>How to help hearing aid users to calibrate their devices using gamefication.</p>
            </div>
          </a>
        </div> -->

        <!-- <div class="tile scale-anm strategy all">
          <a href="/projects/barbearia-miranda.html">
            <img src="/images/thumb-miranda-barbershop-bw.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>MIRANDA BARBERSHOP</h2>
              <span>Strategic Design</span>
              <p>Project with the goal to revitalize the traditional Miranda Barbershop.</p>
            </div>
          </a>
        </div> -->

        <!-- <div class="tile scale-anm service all">
          <a href="/projects/money-bag.html">
            <img src="/images/thumb-money-bag-bw.png" alt="foto tipos móveis" title="money bag"/>
            <div class="box-hover">
              <h2>MONEY BAG</h2>
              <span>Research and Installation</span>
              <p>Designing the future of money transactions in a cashless scenario.</p>
            </div>
          </a>
        </div> -->

        <div class="tile scale-anm strategy all">
          <a href="/projects/monte-azul.html">
            <img src="/images/thumb-monte-azul.png" alt="monte azul" title="monte azul"/>
            <div class="box-hover">
              <h2>MONTE AZUL</h2>
              <span>Strategic Design</span>
              <p>Contributing for sustainability of NGO Monte Azul through strategic design.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm graphic all">
          <a href="/projects/devise.html">
            <img src="/images/thumb-devise-bw.png" alt="devise" title="devise"/>
            <div class="box-hover">
              <h2>DEVISE</h2>
              <span>Graphic Design</span>
              <p>Designed logo for a flexible authentication solution for Ruby on Rails programming language.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm graphic all">
          <a href="/projects/elixir.html">
            <img src="/images/thumb-elixir-b&w.png" alt="elixir" title="elixir"/>
            <div class="box-hover">
              <h2>ELIXIR</h2>
              <span>Graphic Design</span>
              <p>Logo creation for a programming language.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm service all">
          <a href="/projects/space-box.html">
            <img src="/images/thumb-da-vinci.png" alt="foto tipos móveis" />
            <div class="box-hover">
              <h2>SPACE BOX</h2>
              <span>Service Design</span>
              <p>Providing a better experience for occasionals inside the National Museum of Science and Technology.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm ux graphic all">
          <a href="/projects/plataformatec.html">
            <img src="/images/thumb-ptec.png" alt="plataformatec website" />
            <div class="box-hover">
              <h2>PLATAFORMATEC</h2>
              <span>UX / UI Design</span>
              <p>New website to Plataformatec company. Front-end and User Interface.</p>
            </div>
          </a>
        </div>

        <div class="tile scale-anm graphic all">
          <a href="/projects/monte-azul.html">
            <img src="/images/thumb-classmate-b&w.png" alt="classmate" title="classmate"/>
            <div class="box-hover">
              <h2>CLASSMATE</h2>
              <span>UI Design</span>
              <p>Designing new digital products for Intel Classmates® PC.</p>
            </div>
          </a>
        </div>

      </div>
      <div style="clear:both;"></div>
    </section>
  </div>
</section>
